# Folder Virtual Environment (wajib diabaikan)
venv/

# Cache Python
__pycache__/

# File sistem operasi (untuk macOS dan Windows)
.DS_Store
Thumbs.db

# Dataset (jika ukurannya besar dan tidak akan diunggah ke GitHub)
dataset/

# Model yang sudah dilatih (biasanya berukuran besar)
*.h5

# Folder output/hasil (opsional, biasanya tidak perlu di-version control)
result/
# abaikan semua kecuali .h5 model dibawah
!model/best_model_fixed.h5
!model/best_model_rebuild.h5